body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "pragmatica-web", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle-sans";
}

p {
  font: inherit;
}
