$prag-font-stack: 'pragmatica-web', 'Helvetica Neue', 'Helvetica-Neue', Helvetica-Neue, Helvetica, Arial, sans-serif;
$adelle-font-stack: 'adelle-sans', $prag-font-stack;



$primary-blue: hsl(198, 76%, 52%);
$primary-blue-darker: hsl(198, 71%, 26%);
$secondary-blue: hsl(204, 64%, 44%);
$blue_one: hsl(204, 70%, 53%);
$blue_two: hsl(204, 68%, 39%);
$blue_three:hsl(204, 64%, 44%);
$blue_four: hsl(204, 79%, 32%);
$orange-one: rgba(211, 84, 0,1.0);

$red: rgba(231, 76, 60,1.0);
$orange: rgba(230, 126, 34,1.0);
$yellow: rgba(241, 196, 15,1.0);
$green: rgba(46, 204, 113,1.0);
$teal: rgba(26, 188, 156,1.0);
$blue: rgba(52, 152, 219,1.0);
$navy: rgba(52, 73, 94,1.0);
$purple: rgba(155, 89, 182,1.0);

@mixin lang-bar($tag, $color, $width) {
	.#{$tag} {
		border-bottom: 4px solid $color;
		.meter {
			background-color: $color;
			width: $width;
		}
		& + dd {
			color: $color;
		}
	}
}


