$prag-font-stack: 'pragmatica-web', 'Helvetica Neue', 'Helvetica-Neue', Helvetica-Neue, Helvetica, Arial, sans-serif;
$adelle-font-stack: 'adelle-sans', $prag-font-stack;



$primary-blue: hsl(198, 76%, 52%);
$primary-blue-darker: hsl(198, 71%, 26%);
$secondary-blue: hsl(204, 64%, 44%);
$blue_one: hsl(204, 70%, 53%);
$blue_two: hsl(204, 68%, 39%);
$blue_three:hsl(204, 64%, 44%);
$blue_four: hsl(204, 79%, 32%);
$orange-one: rgba(211, 84, 0,1.0);

$phi: 1.618;


